{% extends 'habit_tracker/base.html' %}
{% block content %}
<div class="card shadow-sm mb-4">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="h3 mb-0">All Habits</h1>
            <a href="{% url 'habit_create' %}" class="btn btn-success">+ Add</a>
        </div>
        <ul class="list-group">
            {% for habit in habits %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <a href="{% url 'habit_detail' habit.id %}" class="fw-bold text-decoration-none">{{ habit.title }}</a><br>
                        <small class="text-muted">Created at: {{ habit.created_at|date:'Y-m-d' }}</small>
                    </div>
                    <span class="badge {% if habit.is_completed_today %}bg-success{% else %}bg-danger{% endif %} rounded-pill fs-6">
                        {% if habit.is_completed_today %}Completed today ✅{% else %}Not completed today ❌{% endif %}
                    </span>
                </li>
            {% empty %}
                <li class="list-group-item">No habits found.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
